<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='stylesheets/style.css' />
      <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
      <link rel="stylesheet" href="stylesheets/materialize.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome! Enjoy your New Linkedin CV</h2>
    <hr>

    <div id="linkData"></div>

    <hr>

    <div id="linkData"></div>

    <hr>

    <div id="linkData"></div>

    <hr>

    <div id="linkData"></div>

  </body>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/implAPi.js"></script>
</html>
